header{
    text-align: center;
    font-style:normal;
    font-size:large;
    background-color:$main-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h1{
    color: $main-color;
    width: 100%;
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid $main-color;
    }
    
    .bienvenida{
    color: $main-color;
    font-size: smaller;
    justify-content: center;
    }
    
    .atencion{
    color: $main-color;
    }
    
    .tranqui{
    color: $main-color;
    }
    
    h1{
    
    &p{
    color: $main-color;
    padding: 40px;
    margin: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique;
    }
    }

    h2{
    color: $main-color;
    padding: 40px;
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid $main-color;
    box-shadow: 1px 1px 1px 1px $celeste-color;
    }
    
    h3{
    color: $main-color;
    padding: 40px;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 1px 1px 1px $celeste-color;
    }
    
    h3::first-letter{
    font-size: 2rem;
    color: $celeste-color;
    }
    
    h5{
    font-size: smaller;
    }
    
    h6{
    color: $main-color;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    p{
    color: $main-color;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    }
    
    #logo{
    width: 380px;
    }
    
    img{
    width: 25%;
    height: 25%;
    align-content: center;
    }
    
    .carousel-inner,
    .carousel-item{
    width: 100%;
    height: 800px;
    object-fit: cover;
    
    & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    }
    
    .ar{
    width: 100%;
    height: 50%;
    padding: 20px;
    justify-content: center;
    display: flex;

    & img{
    width: 50%;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px $celeste-color;
    justify-content: center;
    }
}
    
    @media only screen and (max-width:480px){
    #logo{
    width: 300px;
    }
    
    main{
    background-color:$light-color;
    }
    
    .bienvenida{
    font-size: 10%;
    }
    
    .ar{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin: 0%;
    object-fit: cover;
    box-shadow: none;
    justify-content: center;
    
    & img{
    width: 100%;
    height: 50%;
    padding: 0%;
    margin: 0%;
    box-shadow:none;
    justify-content: center;
    }
    }

    .carousel-item.active{
    width: 120%;
    height: 100%;
    object-fit: cover;
    }
    }